<form action="obtenerSuma" method="get">
    <input type="text" name="primerNumero" />
    <input type="text" name="segundoNumero" />
    <input type="submit" name="calcular" value="Calcular"/>
</form>




